@import "~bootstrap/scss/bootstrap";
@import "../scss/variables/variables.scss";

html {
    scroll-behavior: smooth;
  }

  .submit{
      background-color: red;
  }

.first {
    background-color:$grey;
}

.jumbotron {
    background-color: $grey;
}

.produse {
    color: $blue
}
.produse:hover {
    color: $blue
}
.btn-detalii:hover {
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link{
    color: $blue;
    transition: .5s;
} 

.navbar-dark .navbar-nav .nav-link:hover{
    color:$red;
} 

.navbar-dark .navbar-brand {
    color:$red;
}

.navbar-dark .navbar-brand:hover {
    color:$red;
}

.container .row img{
   width: 70%;
   height: 90%;
}

.container .row .btn-1{
    background-color: $red;   
}

.container .row .btn-2{
    background-color: $blue;
}

.card {
    width:auto;
    margin-right: 5px;
    border:none;
    box-shadow: -1px 2px 27px 7px #eeee;
}

.language {
    width:35px;
}